# Python virtual environments
.venv/
venv/

# Environment variables / secrets
.env
.env.*

# IDE settings
.idea/

# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
*.log

# Generated Allure results
Reports/*
!Reports/report.html
!Reports/assets/
!Reports/assets/**

# OS files
.DS_Store

# Temporary files
*.tmp
